<div class="about-container">
  <div class="image-container">
    <img src="https://res.cloudinary.com/ds9ou3eoo/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1721229205/4952202991889394855_nwdtnk.jpg" alt="About Us" class="about-image">
  </div>
  <div class="description-container">
    <h1>About Us</h1>
    <p>Customize Your Payment
      Shop your way. Save time and start the buying process online. Customize your payment to one that accommodates your budget.</p>
    <p>We've awkward negotiations and provided our most competitive price right from the start... so you're always getting a fantastic deal.

    </p>
  </div>
</div>
