<div class="about-container">
  <div class="image-container">
    <img src="assets/about.jpg" alt="About Us" class="about-image">
  </div>
  <div class="description-container">
    <h1>About Us</h1>
    <p>The Hana brand story is born out of passion…passion for quality paralleled with a desire to be unique. Over several years, our team has studied the market competitors, the flavour ranges being offered to Legal Age consumers and consumer desires.</p>
    <p>We understand and fully embrace change, and therefore we are in constant communication with our customers, allowing us to innovate and react quickly to market demands.</p>
    <p>The Hana Shisha brand is owned by Chelsea Tobacco FZE which is a part of 'MSG Group of Companies'. A composite organisation with its subsidiaries specialising in various sectors, we at Hana feel very comfortable knowing that we have a solid and secure foundation for growth.</p>
    <p>With this in mind, our creative teams have designed a proposition that offers the most exquisite flavours, wrapped in elegant packaging, a classic range that has been designed with the more 'free spirited' in mind.</p>
  </div>
</div>
