<footer class="footer-container">
  <div class="footer-content">
    <div class="contact-info">
      <h3>Contact Us</h3>
      <p><mat-icon>location_on</mat-icon> 1100 Frank E Rodgers Blvd S, Harrison, NJ 07029, United States</p>
      <p><mat-icon>email</mat-icon> info&#64;hanashishabrands.com</p>
      <p><mat-icon>phone</mat-icon> +1 202 823 7592</p>
    </div>
    <div class="social-media">
      <h3>Follow Us</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/hana.shishaworld" target="_blank"><mat-icon svgIcon="facebook"></mat-icon></a>
        <a href="https://x.com/i/flow/login?redirect_after_login=%2FHanaShishaWorld" target="_blank"><mat-icon svgIcon="twitter"></mat-icon></a>
        <a href="https://www.instagram.com/hanashishaworld/" target="_blank"><mat-icon svgIcon="instagram"></mat-icon></a>
        <a href="https://www.linkedin.com/in/hana-shisha-world-0b5b3a1a5" target="_blank"><mat-icon svgIcon="linkedin"></mat-icon></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Hana Shisha Brands US. All rights reserved.</p>
  </div>
</footer>
