<footer class="footer-container">
  <div class="footer-content">
    <div class="contact-info">
      <h3>Contact Us</h3>
      <p><mat-icon>location_on</mat-icon> Arda kefla ketama 03 kabale, Addis Ababa, Ethiopia</p>
      <p><mat-icon>email</mat-icon> Binihayilu&#64;gmail.com</p>
      <p><mat-icon>phone</mat-icon> 0911833949/ 0917373782/ 0912285892/ 0933681927</p>
    </div>

  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 AB Brothers Car Sales. All rights reserved.</p>
  </div>
</footer>
